{% extends 'base.html'%}
{% block conteudo %}
    <main>
        <div class="background1">
            <video src="../static/Berserk 2023 trailer _ 4k 60fps.mp4" autoplay loop muted class="videobackg"></video>
            <img src="../static/Berserk_anime_logo.png" alt="" class="superiorBkg">
        </div>
        <section>
            <br><br><br>
            <h4 id="lanc">Lançamentos</h4>
            <br><br>
            <div class="container d-flex flex-wrap">
                {% for cat in catal %}
                <div class="cardshop col-md-4">
                    <ul style="list-style: none;">
                        <li class="card1">
                            <img src="{{cat.Imagem}}" alt="">
                            <div class="texto-produto">
                                <p>{{cat.Produto}}</p>
                                <span><b>{{cat.Preço}}</b></span>
                                <br>
                                <form action="/goproduct" method="post">
                                    <input type="number" style="display: none;" name="numberid" value="{{cat.id}}">
                                <button class="button1">Comprar</button>
                            </form>
                            </div>
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </section>
        <br><br><br>
        <section>
            <h4>Destaques</h4>
            <br><br>
            <div class="slider-container">
                <div class="slider cardshop1">
                    {% for item in desta %}
                    <div class="slide card1">
                        <img src="{{item.Imagem}}" alt="Product 1">
                        <div class="texto-produto" style="text-align: left;">
                            <p>{{ item.Produto }}</p>
                            <span><b>{{ item.Preço }}</b></span>
                            <br>
                            <form action="/goproduct2" method="post">
                                <input type="number" style="display: none;" name="numberid2" value="{{item.id}}">
                            <button class="button1">Comprar</button></form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="prev" onclick="prevSlide()"><img width="30px" height="30px"
                        src="https://img.icons8.com/ios/50/forward--v1.png" alt="forward--v1"
                        style="rotate: 180deg;" /></button>
                <button class="next" onclick="nextSlide()"><img width="30px" height="30px"
                        src="https://img.icons8.com/ios/50/forward--v1.png" alt="forward--v1" /></button>
            </div>
        </section>
        <br><br><br>
        <br><br><br>
        <section>
            <h4>Avaliações</h4>
            <br><br>
            <div class="slider-container" style="display: flex; flex-direction: row !important;width: 100% !important;">
                <div class="slider2 cardshop" style="justify-content: center; display: flex; flex-direction: row !important;" >
                    {% for msge in avaliacoes %}
                    <div class="slide2 card2">
                        <div class="texto-produto" style="text-align: center;width: 200px;left: 100px;position: relative;">
                            <p>{{ msge.nome }}</p>
                            <span><b>{{ msge.msg }}</b></span>
                            <br>
                            {% for estrelas in range (msge.star) %}
                            <img src="{{ estrela.Imagem }}" alt="" class="estrela" style="height: 20px !important; width: auto;">
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="prev" onclick="prevSlide2()"><img width="30px" height="30px"
                        src="https://img.icons8.com/ios/50/forward--v1.png" alt="forward--v1"
                        style="rotate: 180deg;" /></button>
                <button class="next" onclick="nextSlide2()"><img width="30px" height="30px"
                        src="https://img.icons8.com/ios/50/forward--v1.png" alt="forward--v1" /></button>
            </div>
        </section>
        <br><br>
    </main>

{% endblock conteudo %}
