{% extends 'base.html' %}
{% block conteudo %}
<section class="sectProd">
  <div class="containerProduto">
    <div class="cardProduto">
      <div class="containerImgProd">
        <img src="{{ valpd.Imagem }}" alt="">
        <div class="mini-Imagens">
          {% for i in range(5) %}
          <img src="{{ valpd.Imagem }}" alt="">
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="text-product">
      <p>
      <h5>{{ valpd.Produto }}</h5><br>
      <span>{{ valpd.Preço }}</span><span style="text-align: center; padding-left: 150px;">0x de R$00 sem juros.</span>
      </p>
      <form action="">
        <div class="radio-container" style="width: clamp(10rem, 80%, 20rem);">
          <input type="radio" id="tamanho1" name="tamanho" value="1">
          <label for="tamanho1">P</label>

          <input type="radio" id="tamanho2" name="tamanho" value="2">
          <label for="tamanho2">M</label>

          <input type="radio" id="tamanho3" name="tamanho" value="3">
          <label for="tamanho3">G</label>

          <input type="radio" id="tamanho4" name="tamanho" value="4">
          <label for="tamanho4">GG</label>

          <input type="radio" id="tamanho5" name="tamanho" value="5">
          <label for="tamanho5">XGG</label>
        </div>
        <div class="productColor">
          <input type="radio" id="color1" name="color" value="5">
          <label for="color1">{{ valpd.Cor }}</label>

          <input type="radio" id="color2" name="color" value="6" disabled>
          <label for="color2" style="background-color: #0a0a0a28;">Azul</label>
        </div>
        <button type="submit">Comprar</button>
      </form>
      <!----------------------------------------------------------->
      <div class="accordion accordion-flush" id="accordionFlushExample" style="width: clamp(2rem, 90%, 20rem);">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color: none !important;
    box-shadow: none !important;">
              Meios de pagamento
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="background-color: none !important;
    box-shadow: none !important;">
            <div class="accordion-body">
              <p>0 x de R$00,00 sem juros</p>
              <a href="/error" style="font-size: 10px;color: black;text-decoration: none;">Ver mais detalhes</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="background-color: none !important;
    box-shadow: none !important;">
              Meios de envio
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="background-color: none !important;
    box-shadow: none !important;">
            <div class="accordion-body">
              <label for=""><span style="font-size: 12px;">Frete grátis a partir de R$499,00 </span>
                <form action=""><input type="text" placeholder="Seu CEP" required><br>
              </label><button
              style="background-color: black;color: white;width: 100px;border-radius: 0px;border: none;text-align: center;"
              class="accordion-butn">Consultar</button></form>
              <p><a href="https://buscacepinter.correios.com.br/app/endereco/index.php"
                  style="font-size: 10px;color: black;text-decoration: none;">Não sei meu cep</a></p>
            </div>
          </div>
        </div>
      </div>
      <!----------------------------------------------------------->
    </div>
  </div>
</section>
<hr>
<section class="classificacoes container" style="display: flex;flex-direction: column;">
  <h3 style="text-align: center;padding-bottom: 50px;">Comentarios: </h3>
  <div class="ContainerClassific row">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSElCRpfHlnG-mMg6efSHFB2AkMecw5uwGPyg&s"
              alt="Image" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content" style="text-align: center;">
            <p>
              <strong>Kaue Oliveira</strong><br>
              <br><br>
              Essa loja é incrivel, comprarei mais!!
            </p>
            <div style="display: flex;flex-direction: row;" class="containerStar">
              {% for i in range(4)%}
              <img src="{{ estrela.Imagem }}" alt="" class="estrela" style="height: 20px !important; width: auto;">
              {% endfor %}
            </div>
          </div>
        </div>
      </article>
    </div>
    {% for item in avaliacoes %}
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ item.Icon }}" alt="Image" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content" style="text-align: center;">
            <p>
              <strong>{{ item.nome }}</strong><br>
              <br><br>
              {{ item.msg }}
            </p>
            <div style="display: flex;flex-direction: row;" class="containerStar">
              {% for estrelas in range(item.star) %}
              <img src="{{ estrela.Imagem }}" alt="" class="estrela" style="height: 20px !important; width: auto;">
              {% endfor %}
            </div>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock conteudo %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>