{% extends 'base.html' %}
{% block conteudo %}
<style>
    footer {
        display: none;
    }

    .toast {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1050;
        display: none;
    }
</style>
<!---->
<main>
    <br><br><br><br><br><br><br><br>
    <div class="profile">
        <div class="profileIcon">
            <img src="{{ icon.Imagem }}" alt=""><br><br>
            <form action="/icon" method="post">
                <input type="file" name="arquivo" id="arquivo">
                <button type="submit">Salvar</button>
            </form>
        </div>
        <br>
        <p>
            <span style="font-size: 20px;"><b>{{ perfil.nome }}</b></span><br><br>
            <span><b>E-mail:</b> {{perfil.email }}</span><br>
        <form action="" method="post">
            <input name="cep" type="text" id="cep" value="" size="20" maxlength="9"
                onblur="pesquisacep(this.value);" /><br><br>
            <input name="bairro" type="text" id="bairro" size="20" /><br><br>
            <input name="rua" type="text" id="rua" size="20" /><br><br>
            <input type="text" name="cidade" id="cidade" maxlength="20" placeholder="Cidade"><br><br>
            <input name="uf" type="text" id="uf" size="2" /><br><br>
            <input type="number" name="number" id="number" maxlength="5" placeholder="Numero"><br><br>
            <button type="submit" class="btn btn-outline-success">Salvar</button>

        </form><br>
        </p>

    </div>
    <div class="purchases">
        <p>Compras recentes</p>
        <div class="cardProfile">
            <img src="../static/CamisaDesta1.jpg" alt="">
        </div>
        <a href="/feedback" style="text-decoration: none;">
            <span>Deixe sua avaliação!</span>
        </a>
    </div><br>
</main>
<div class="toast" id="cep-toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
        <img src="" class="rounded me-2" alt="">
        <strong class="me-auto">Erro de CEP</strong>
        <small>Aviso</small>
        <button type="button" class="btn-close" id="close-toast" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        CEP inválido. Por favor, insira um CEP válido.
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
{% endblock conteudo%}