.containerError {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 600px;
        width: auto;
    }
    p {
        font-size: 20px;
        width: 180px;
        font-weight: bold;
    }
    a {
        color: red;
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .containerError {
        display: flex;
        flex-direction: column;
        img {
            height: 300px;
            width: auto;
        }
        p {
            padding-top: 30px;
        }
    }
}