.cardProduto {
    img {
        height: 500px;
        width: auto;
    }
}

.containerProduto {
    padding-top: 250px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 40px;

    .text-product {
        position: relative;
        width: 100%;
        top: -100px;
        padding-left: 300px;
        margin: auto;
    }

    span {
        font-size: 13px;
    }

    padding-bottom: 40px;

    form>button {
        background-color: black;
        color: white;
        border: 1px solid white;
        text-align: center;
        width: 370px;
        height: 30px;
        margin: auto;
    }
}

.radio-container {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container label {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 1px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    font-size: 12px;
}

.radio-container input[type="radio"]:checked+label,
.productColor input[type="radio"]:checked+label {
    background-color: #333 !important;
    color: #fff;
}

.productColor {
    display: flex;
    gap: 15px;
    padding-bottom: 30px;
}

.productColor input[type="radio"] {
    display: none;
}

.productColor label {
    display: inline-block;
    width: 75px;
    height: 37px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 1px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    font-size: 12px;
}

.sectProd {
    padding-bottom: 50px;
}

.classificacoes {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 80px;

    .box {
        width: 500px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border-radius: 0 !important;
        /* From https://css.glass */
        background: rgba(46, 42, 42, 0.19);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 0, 0, 0.18);
        color: rgb(0, 0, 0) !important;
        padding: 40px;

        img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            border-radius: 50%;
            height: 120px;
            width: auto;
        }
    }
}

.mini-Imagens {
    img {
        height: 100px;
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: all 0.5s ease-in-out;
    }

    img:hover {
        filter: contrast(30%);
        cursor: pointer;
    }
}

.containerImgProd {
    display: flex;

    flex-direction: row;
}