.profileIcon img {
    height: 200px;
    width: auto;
    border-radius: 50%;
    position: relative;
    left: 30px;
}
.profileIcon input {
    position: relative;
    left: 0px;
    font-size: 12px;
}
.profile p, .profile form {
    position: relative;
    left: 50px;
    width: 450px;
    font-size: 15px;
}
.profile button {
    position: relative;
}
.profile form ::-webkit-input-placeholder {
    color: rgb(0, 0, 0) !important;
}

.profile form :-moz-placeholder {
    /* Firefox 18- */
    color: rgb(0, 0, 0) !important;
}

.profile form ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(0, 0, 0) !important;
}

.profile form :-ms-input-placeholder {
    color: rgb(0, 0, 0) !important;
}
.purchases .cardProfile img {
    height: 300px;
    width: auto;
    border-radius: 10px;
    filter: contrast(30%);
    transition: 1s ease-in-out;
}
.purchases .cardProfile img:hover {
    filter: none;
    transition: 1s ease-in-out;
    cursor: pointer;
}
.purchases {
    margin: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: right;
    object-position: right;
    height: 10px;
    top: -500px;
    left: -40px;
    p {
        position: relative;
        top: -170px;
        font-size: 20px;
        font-weight: bold;
        left: 170px;
    }
    a {
        position: relative;
        top: 180px;
        left: -300px;
        color: rgb(78, 78, 0);
    }
}
@media screen and (min-width: 300px) and (max-width: 700px) {
    .purchases {
        height: auto;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        p {
            top: 0;
            left: 0;
        }
    }
}

.containerInfo {
    padding-left: 50px;
    position: relative;
}