{% extends 'base.html' %}
{% block conteudo %}
<style>
    footer {
        position: fixed !important;
        bottom: 0 !important;
        margin: auto;
        width: 100%;
    }
</style>
<!---->

<main>
    <div class="container"
        style="width: 100vw;height: 100vh;display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <div class="card"
            style="width: 400px;height: 100px;display: flex;flex-direction: row;justify-content: center;align-items: center;background-color: rgba(37, 190, 37, 0.562);">
            <span style="text-align: center;font-weight: bold;color:rgb(0, 61, 0)">Sua conta foi criada com
                sucesso!!!</span>
        </div>
        <p style="padding-top: 20px;"><a href="/login" style="color:black;text-align: center;" <span>Clique aqui para
                voltar ao login.</span></a></p>
    </div>
</main>

{% endblock conteudo %}